@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  padding: 25px 10px;

  &__logo-img-one {
    display: none;
  }

  &__wrapper {
    .header__tel {
      color: #fff;
      ;
    }

    .header__info-link {
      color: #fff;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    .header__link {
      color: #fff;
    }

    .header__menu {
      border: 1px solid #fff;
      border-right: none;
    }

    .header__menu-link {
      color: #fff;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    .header__logo-img {
      display: none;
    }

    .header__logo-img-one {
      display: block;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 48px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;

  }

  &__tel {
    color: $accent;

    &:hover {
      color: $main;
      transition: all .3s;
    }
  }


  &__info-link {
    color: $accent;
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
      color: $main;
      transition: all .3s;

      svg {
        path {
          fill: $main;
          transition: all .3s;
        }
      }
    }

    // &::after {
    //   position: absolute;
    //   content: '';
    //   width: 22px;
    //   height: 26px;
    //   top: -3px;
    //   right: -23px;
    //   background-image: url('../images/icons/arrow-menu.svg');
    // }
  }


  &__link {
    padding-left: 26px;
    color: $accent;

    &:hover {
      color: $main;
      transition: all .3s;
    }
  }

  &__menu {
    display: flex;
    gap: 150px;
    padding: 7px 0 7px 36px;
    border: 1px solid $accent;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__about {
    position: absolute;
    top: 50px;
    left: -2px;
    background-color: $main;
    border-radius: 15px;
    padding: 20px 32px 15px 24px !important;
    transform: translateY(-500%);
    transition: all .3s;
    z-index: 10;
  }

  &__about--active {
    transform: translateY(0);
    transition: all .3s;
  }

  &__about-item {
    margin-bottom: 15px;
  }

  &__about-link {
    color: #fff;

    &:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid #fff;
    }
  }



  &__menu-list {
    display: flex;
    align-items: center;
    gap: 48px;
    position: relative;

  }

  &__menu-link {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $accent;
    position: relative;

    &:hover {
      background-color: $main;
      color: white;
      padding: 7px 20px;
      border-radius: 25px;
      transition: all .3s;
    }

    // &::after {
    //   position: absolute;
    //   content: '';
    //   width: 22px;
    //   height: 26px;
    //   top: -3px;
    //   right: -25px;
    //   background-image: url('../images/icons/arrow-menu.svg');
    // }
  }



  &__btn {
    border: none;
    background-color: $main;
    color: #fff;
    padding: 10px 24px;
    border-radius: 25px;
    @extend %roboto-700;
    font-size: 18px;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 242px;
      background-color: #fff;
      bottom: -8px;
      left: -90px;
    }
  }
}



.about {
  margin-top: -145px;
  background-image: url('../images/header-bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    padding-top: 333px;
    padding-bottom: 140px;
    color: #fff;
  }

  &__box {
    @extend %roboto-500;
    font-size: 22px;
    display: flex;
    gap: 75px;
    margin-bottom: 50px;
  }

  &__title {
    @extend %impact;
    font-size: 76px;
    width: 750px;
    margin-bottom: 32px;
  }

  &__text {
    width: 400px;
    line-height: 21px;
    margin-bottom: 50px;
  }

  &__link {
    background-color: $main;
    color: #fff;
    padding: 16px 32px;
    border-radius: 25px;
    @extend %roboto-700;
    font-size: 18px;

    svg {
      margin-left: 15px;
    }
  }

}









@import 'media';